@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
::selection {
  background-color: #000;
  color: #fff;
}
.container {
  max-width: 1324px;
  width: 95%;
  margin: 0 auto;
}
/* start header section  */
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header_top nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header_top nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.header_top nav img {
  width: 111px;
  height: 43px;
}
.header_top nav ul a {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #000;
  text-transform: uppercase;
}
.social_icons {
  display: flex;
  gap: 30px;
}
.social_icons i {
  font-size: 21px;
  cursor: pointer;
}
.banner {
  background: url(./img/banner.jpg) center top no-repeat;
  background-size: cover;
  height: 100vh;
}
.banner .container {
  height: 100%;
  position: relative;
}
.header_content {
  position: absolute;
  top: 30%;
  left: 140px;
}

.header_content h2 {
  margin-bottom: -5px;
  font-size: 3.4375em;
  letter-spacing: -0.3px;
  font-style: italic;
  line-height: 1.334;
}
.header_content h3 {
  position: relative;
  padding-left: 30px;
  font-size: 7em;
  max-height: 140px;
}
.header_content h3 span {
  transform: translate(0, -50%) rotate(-90deg);
  position: absolute;
  left: -31px;
  font-size: 25%;
  top: 60%;
  font-weight: 400;
  -webkit-transform: translate(0, -50%) rotate(-90deg);
  -moz-transform: translate(0, -50%) rotate(-90deg);
  -ms-transform: translate(0, -50%) rotate(-90deg);
  -o-transform: translate(0, -50%) rotate(-90deg);
}
.brd_bottom {
  width: 2.8rem;
  border-top: 5px solid #222529;
  display: inline-block;
}
.header_content h5 {
  font-size: 1.25em;
  text-transform: uppercase;
}
.header_content .header_shop {
  display: flex;
  gap: 43px;
}
.header_content .header_shop h5 span {
  font-size: 25px;
}

.header_content .header_shop h5 span small {
  font-size: 15px;
}
.header_shop a {
  font-size: 16px;
  letter-spacing: 0.02em;
  border-color: #222529;
  background-color: #222529;
  color: #fff;
  padding: 20px 50px;
  font-weight: bold;
  line-height: 1.429;
  text-transform: uppercase;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.header_shop a:hover {
  border-color: #34393f;
  background-color: #34393f;
  color: #fff;
}

/* end header section  */

/* start shop section  */
.shop {
  padding: 60px 30px;
}
.title {
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #302e2a;
  font-size: 20px;
}
.categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.categories .category img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  height: 200px;
}
.category {
  text-align: center;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.category:hover .category_img::after {
  visibility: visible;
  opacity: 0.3;
}
.category_img {
  position: relative;
  width: 100%;
  transition: 0.4s all;
  /*height: 252px;
  */
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}

.category_img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d4d4d3;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.category h4 {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.35;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.005em;
  text-transform: uppercase;
  color: #222529;
}
.category_content {
  padding: 21px;
}
.category_content span {
  font-weight: 400;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
  opacity: 0.7;
  color: #1d2127;
}
/* end shop section  */

/* start sale section  */
.sales {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.sales img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sale_category {
  background-color: #f4f4f4;
  padding: 60px 0;
}
.sale {
  position: relative;
}
.sale .sale_content {
  position: absolute;
}
.sale:first-of-type .sale_content {
  bottom: 0;
  left: 9.85%;
  bottom: 8.1%;
}
.sale:nth-of-type(2) .sale_content {
  left: 4%;
  right: 4%;
  top: 20%;
  text-align: center;
}
.sale:nth-of-type(3) .sale_content {
  left: 4%;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.sale:nth-of-type(4) .sale_content {
  left: 9%;
  right: 9%;
  bottom: 8%;
  text-align: center;
}
.sale_content h3 {
  font-size: 1.625em;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 8px;
}
.sale_content p {
  font-family: "Open Sans", sans-serif;
  color: #777;
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 1.4;
  margin-bottom: 16px;
}
.sale_content a {
  padding: 15px 21px 13px 22px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.15em;
  transition: all 0.3s;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  line-height: 1.429;
}
.sale:nth-of-type(3) .sale_content h3 {
  color: #fff !important;
}
.sale:nth-of-type(3) .sale_content a {
  color: #000;
}
.sale:not(:nth-of-type(3)) .sale_content a {
  border-color: #222529;
  background-color: #222529;
  color: #fff;
}
.sale:nth-of-type(3) .sale_content a {
  background-color: #fff;
  border-color: #f8f9fa;
}
/* end sale section  */

/* start products section  */
.all_products {
  padding: 60px 10px;
  height: 100%;
  .container {
    height: 100%;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  height: 100%;
}
.product {
  /* width: 200px; */
  height: 332px;
  /* overflow: hidden; */
}
.product img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  position: absolute;
  z-index: 1;
}
.product_img {
  position: relative;
  width: 100%;
  height: 214px;
  display: inline-block;
  overflow: hidden;
}
.product_img img:nth-of-type(2) {
  visibility: hidden;
  opacity: 0;
}
.product_img img:nth-of-type(1) {
  visibility: visible;
  opacity: 1;
}
.product_img:hover img:nth-of-type(2) {
  visibility: visible;
  opacity: 1;
}
.product_img:hover img:nth-of-type(1) {
  visibility: hidden;
  opacity: 0;
}
.product_view {
  width: 100%;
  height: 100%;
  position: relative;
}
.product_view span {
  position: absolute;
  /*bottom: 0;
  */
  top: 100%;
  z-index: 2;
  left: 0;
  background-color: #000;
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.025em;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  line-height: 1.82;
  color: #fff;
  padding: 0.8rem 1.4rem;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.product:hover .product_view span {
  top: 77%;
  visibility: visible;
  opacity: 1;
}
.product_category {
  font-weight: 400;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  opacity: 0.8;
  text-transform: uppercase;
  text-align: left;
  color: #929292;
}
.product_content p {
  font-weight: 400;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  line-height: 1.35;
  letter-spacing: 0.005em;
}
.product_content i {
  font-size: 10px;
  color: #929292;
}
.product_content span:nth-of-type(2) {
  text-decoration: line-through;
  color: #929292;
  font-size: 14px;
  font-weight: bold;
}
.product_content span {
  font-weight: 500;
}

.contact_us {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.contact_us > div > div {
  padding: 0 48px;
  text-align: center;
}
.contact_us h3 {
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
}
.contact_us h4 {
  margin-bottom: 13px;
  color: #777;
  font-weight: 400;
}
.all_products hr {
  margin: 30px 0 60px 0;
}
.contact_us i {
  margin-bottom: 30px;
  font-size: 35px;
}
.contact_us p {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
}

/* end products section  */

/* start subcribe section  */
.subcribe {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
}
.subcribe_site {
  padding: 50px 0;
}
.subcribe_newslatter {
  display: flex;
  align-items: center;
  gap: 48px;
  width: 70%;
  flex-wrap: wrap;
}
/* .subcribe_content {
  width: 55%;
}
.subcribe_mail {
  width: 45%;
} */

.subcribe_content h4 {
  letter-spacing: 0.075em;
  font-size: 14px;
  text-transform: uppercase;
  color: #222529;
  padding-bottom: 1px;
  margin-bottom: 4px;
}
.subcribe_content p {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  letter-spacing: 0;
  color: #777777;
  font-size: 13px;
}
.subcribe_mail {
  display: flex;
  height: 48px;
}
.subcribe_mail input {
  padding: 16px 22px 13px 22px;
  height: auto;
  margin: 0;
  border: none;
  color: #777;
  background-color: #f4f4f4;
  font-family: "Open Sans", sans-serif;
  outline: none;
  width: 300px;
}

.subcribe_mail button {
  padding: 7px 13px 6px 13px;
  border: none;
  background-color: #000;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.subcribe_icon i {
  cursor: pointer;
  font-size: 20px;
  color: #525252;
}
.subcribe_icon {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 30%;
  justify-content: end;
}
/* end subscribe section  */

/* start footer section  */
footer {
  padding: 0 0 54px 0;
}
.footer_top {
  display: grid;
  gap: 20px;
  padding-top: 64px;
  grid-template-columns: repeat(3, 1fr);
}

.info .footer_flex {
  display: flex;
  gap: 20px;
}
.account .footer_flex {
  display: flex;
  gap: 40px;
}
.features .footer_flex {
  display: flex;
  gap: 70px;
}
.footer_top h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 15px;
}
.footer_top h5 {
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.005em;
  color: #000;
  margin-bottom: 0;
  text-transform: uppercase;
}
.footer_top span {
  margin-bottom: 15px;
  display: inline-block;
  font-size: 12px;
  color: #90969a;
}
.footer_top li {
  list-style: none;
  font-size: 12px;
  margin-top: 5px;
  a {
    color: #90969a;
  }
}
.footer_flex:nth-of-type(2) {
  gap: 40px;
}
.footer_flex p {
  color: #90969a;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}
/* end footer section  */

/* responsive css start  */

@media only screen and (max-width: 1151px) {
  .sale_content h3 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1024px) {
  /* .products {
    gap: 50px;
  } */
  .sale:nth-of-type(4) .sale_content {
    left: 0;
  }
  .sale_content h3 {
    font-size: 16px;
  }
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
  .contact_us > div > div {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 992px) {
  .header_top {
    display: none;
  }
  .categories {
    grid-template-columns: repeat(4, 1fr);
  }
  .sale_content a {
    font-size: 10px;
    padding: 10px 15px 8px 15px;
  }
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
  .contact_us h3 {
    font-size: 15px;
  }
  .contact_us {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .subcribe_newslatter {
    width: 100%;
  }
  .subcribe_icon {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
  }
  .subcribe_mail {
    width: 100%;
    justify-content: center;
  }
  .footer_top {
    grid-template-columns: repeat(2, 1fr);
  }
  .subcribe_content {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .header_content {
    left: 100px;
  }
  .header_content h2 {
    font-size: 2.4375em;
  }
  .header_content h3 {
    font-size: 4em;
  }
  .header_content h3 span {
    left: -15px;
  }
  .header_content h5 {
    font-size: 1em;
  }
  .header_shop a {
    padding: 15px 30px;
    font-size: 13px;
  }
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }
  .sales {
    grid-template-columns: repeat(3, 1fr);
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact_us {
    grid-template-columns: repeat(2, 1fr);
  }
  .subcribe_newslatter {
    width: 100%;
  }

  .footer_top {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .footer_flex {
    justify-content: center;
  }
  .footer_flex {
    flex-wrap: wrap;
    gap: 0px !important;
  }
  .footer_flex > div {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .header_content {
    left: 10px;
  }
  .header_content h2 {
    font-size: 2em;
  }
  .header_content h3 {
    font-size: 3em;
  }
  .header_shop a {
    padding: 10px 20px;
    font-size: 13px;
  }
  .header_content h5 {
    font-size: 15px;
  }
  .categories {
    grid-template-columns: repeat(1, 1fr);
  }
  .sales {
    grid-template-columns: repeat(2, 1fr);
  }
  .sale {
    max-height: 400px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .product_content {
    text-align: center;
  }
}

@media only screen and (max-width: 431px) {
  .header_content {
    left: 0px;
  }
  .header_content h2 {
    font-size: 1em;
  }
  .header_content h3 {
    font-size: 3em;
  }
  .header_shop a {
    padding: 8px 12px;
    font-size: 12px;
  }
  .header_content h5 {
    font-size: 13px;
  }
  .header_content h3 span {
    left: -5px;
  }
  .header_content .header_shop {
    gap: 25px;
  }
  .sales {
    grid-template-columns: repeat(1, 1fr);
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact_us {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 320px) {
  .header_content .header_shop {
    gap: 10px;
  }
  .header_shop a {
    font-size: 10px;
    padding: 15px 12px;
  }
}
